.cartoons {
    float:left;
}

img {
    width: 300px;
    height: 250px;
}

.styleclass {
    border: 5px solid green;

}

.bgroung {
    background-color: yellow;
}

#drag {
    width: 150px;
    height: 100px;
    background-color: yellow;
}

#drop {
    width: 400px;
    height: 400px;
    float: right;
    background-color: rgb(217, 245, 235);
}